/* DASHBOARD */
.dashboard {
	width: 100%;
	height: 100vh;
	position: absolute;
	opacity: 0;
	right: 0;
	background: var(--color-semitrans-overlay);
	z-index: 4445;
	display: grid;
	grid-template-rows: repeat(10, 10%);
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	-webkit-transition: var(--transition-standard);
	transition: var(--transition-standard);
}
.dashboard__element {
	-webkit-box-shadow: inset 0 0 10px var(--color-dark-black);
	box-shadow: inset 0 0 10px var(--color-dark-black);
	height: 90%;
	width: 90%;
	position: relative;
	background: var(--color-bright-white);
}
#user-profile {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 5;
	align-self: center;
}
#user-friends {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 5;
	grid-row-end: 8;
	align-self: center;
	overflow-y: scroll;
}
#user-stats {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 8;
	grid-row-end: 11;
	align-self: center;
}
#user-messages {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 10;
	align-self: center;
	overflow-y: scroll;
}
.dashboard__element__title {
	margin: 2rem;
	font-size: 2.3rem;
	color: var(--color-dark-black);
	font-weight: 600;
}
/* PROFILE */
.own-profile {
	margin: 2rem;
	height: 70%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
}
.own-profile__group {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
}
.own-profile__text {
	text-align: center;
}
.own-profile__text--info {
	color: var(--color-bright-grey);
}
.profile__titles {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.profile__titles__title {
	text-align: center;
	font-size: 2rem;
}
.profile__content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.profile__content__item {
	height: 4rem;
	min-width: 4rem;
	text-align: center;
	font-size: 1.5rem;
	color: var(--color-bright-grey);
}
.own-profile__edit {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
}
.own-profile__edit__item {
	width: 17rem;
	font-size: 2rem;
}
.own-profile__edit__label {
	font-size: 1rem;
}
.own-profile__input {
	width: 100%;
}
.radio-group {
	display: grid;
	grid-template-columns: 10% 90%;
	grid-template-rows: 1fr 1fr 1fr;
}
.error-profile {
	font-size: 12px;
	color: var(--color-dark-red);
	white-space: nowrap;
}
/* FRIENDS */
.profile-friends {
	margin: 2rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
}
.profile-friends__add-friend {
	position: absolute;
	top: 1rem;
	right: 1rem;
	height: 3rem;
	width: 3rem;
	background-image: url('../images/user-plus.svg');
	-webkit-transition: var(--transition-standard);
	transition: var(--transition-standard);
	background-size: contain;
	cursor: pointer;
}
.profile-friends__add-friend:hover {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
.table {
	width: 100%;
	height: 100%;
	font-size: 1rem;
}
.table__header {
	text-align: left;
	border-bottom: 4px solid var(--joker-background);
}
.table__row {
	height: 2rem;
}
.table__data {
	padding-left: 1rem;
}
.table__data--small {
	width: 10rem;
	text-align: center;
}
.table__btn {
	height: 2rem;
	width: 2rem;
	text-align: center;
	cursor: pointer;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-transition: var(--transition-standard);
	transition: var(--transition-standard);
}
.table__btn:hover {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
.online-1 {
	width: 1.3rem;
	height: 1.3rem;
	border-radius: 50%;
	background: var(--color-positive);
	margin: auto;
}
.online-0 {
	width: 1.3rem;
	height: 1.3rem;
	border-radius: 50%;
	background: var(--color-dark-red);
	margin: auto;
}
.profile-msgs__new-msg {
	position: absolute;
	top: 1rem;
	right: 1rem;
	height: 3rem;
	width: 3rem;
	background-image: url('../images/new-msg.svg');
	-webkit-transition: var(--transition-standard);
	transition: var(--transition-standard);
	background-size: contain;
	cursor: pointer;
}
.profile-msgs__new-msg:hover {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
.msg-to-friend {
	background-image: url('../images/envelop.svg');
	margin: auto;
}
.delete-friend {
	background-image: url('../images/remove.svg');
	margin: auto;
}
.profile-msgs {
	margin: 2rem;
}
.view-msg {
	font-size: 12px;
	cursor: pointer;
}
.eyeCon--unseen {
	background-image: url('../images/eye.svg');
	margin: auto;
	width: 2rem;
	height: 2rem;
	background-size: contain;
}
.eyeCon--seen {
	background-image: url('../images/eye-blocked.svg');
	margin: auto;
	width: 2rem;
	height: 2rem;
	background-size: contain;
}
.profile-msgs__single-msg {
	position: absolute;
	width: 95%;
	margin: auto;
	border: 4 px solid var(--color-bright-red);
	border-radius: var(--big-border-radius);
}
.profile-msgs__single-msg__head {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
}
.profile-msgs__single-msg__body {
	background: var(--color-very-bright-grey);
	width: 90%;
	min-height: 20rem;
	padding: 1rem;
	border-radius: 12px;
	margin: auto;
	margin-top: 1rem;
	margin-bottom: 2rem;
	-webkit-box-shadow: var(--card-shadow);
	box-shadow: var(--card-shadow);
}
/* STATS */
.profile-stats {
	margin: 2rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
}
.profile-stats__bar--won {
	width: 1.2rem;
	height: 2.3rem;
	background: var(--color-positive);
}
.profile-stats__bar--lost {
	width: 1.2rem;
	height: 2.3rem;
	background: var(--color-dark-red);
}
.profile-stats__bar__text {
	margin-left: 1rem;
}
/* MESSAGES */
.msg__wrapper {
	position: absolute;
	top:0;
	height: 100%;
	width: 100%;
	background: var(--color-semitrans-overlay);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	z-index: 4445;
}
.msg__title {
	font-size: 3.5rem !important;
	margin: 1rem;
	background: var(--color-bright-white);
	border-radius: var(--card-border-radius);
	margin-left: 3rem;
}
.msg__fieldset {
	border-radius: var(--card-border-radius);
	background: var(--color-bright-white);
}
.msg__form {
	margin-top: 5rem;
	width: 40%;
	position: relative;
}
.msg__form-group {
	margin: 3rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.msg__form input[type='text'],
.msg__form textarea {
	padding: 10px;
	padding-left: 30px;
	margin: 0px;
	border: 1px solid var(--color-dark-black);
	border-radius: 5px;
	margin-top: 10px;
	font-family: inherit;
}
.error-box {
	font-size: 12px;
	color: var(--color-dark-red);
	white-space: nowrap;
}
.msg__btn {
	width: 30vw;
}
.msg__close-btn {
	height: 3rem;
	width: 3rem;
	position: absolute;
	top: 3rem;
	right: 3rem;
	text-align: center;
	cursor: pointer;
	background: url('../images/close-cross.svg');
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-transition: var(--transition-standard);
	transition: var(--transition-standard);
}
.msg__close-btn:hover {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
/* OTHER PROFILES */
.other-profile__wrapper {
	top:0;
	position: absolute;
	height: 100%;
	width: 100%;
	background: var(--color-semitrans-overlay);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	z-index: 4445;
}
.other-profile {
	border-radius: var(--card-border-radius);
	background: var(--color-bright-white);
	margin-top: 5rem;
	width: 40%;
	position: relative;
	display: block;
	padding-top: 0.35em;
	padding-bottom: 0.625em;
	padding-left: 0.75em;
	padding-right: 0.75em;
	height: -webkit-min-content;
	height: -moz-min-content;
	height: min-content;
}
.other-profile__header {
	margin: 3rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.other-profile__stats {
	background: var(--color-very-bright-grey);
	border-radius: var(--card-border-radius);
	padding: 2rem;
}
.other-profile__header__title {
	font-size: 3.5rem !important;
	margin: 1rem;
	background: var(--color-bright-white);
	border-radius: var(--card-border-radius);
	margin-left: 3rem;
}
.other-profile__header__title--name {
	color: var(--color-bright-red);
}
.other-profile-online {
	margin-left: 3rem;
	width: 8rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.other-profile__stats {
	margin-left: 3rem;
}
.other-profile__btn-box {
	margin: 3rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}
.other-profile__btn-box__item {
	height: 4rem;
	width: 4rem;
	display: contents;
}
.other-profile__btn-box__item__text {
	font-size: 3rem;
}
.other-profile__friend-btn {
	background-image: url('../images/user-plus.svg');
	height: 4rem;
	width: 4rem;
	background-size: cover;
	-webkit-transition: var(--transition-fade-in);
	transition: var(--transition-fade-in);
	cursor: pointer;
}
.other-profile__friend-btn:hover {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
.other-profile__msg-btn {
	cursor: pointer;
	background-image: url('../images/friend-envelop.svg');
	height: 4rem;
	width: 4rem;
	-webkit-transition: var(--transition-standard);
	transition: var(--transition-standard);
	background-size: cover;
}
.other-profile__msg-btn:hover {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
.other-profile__close-btn {
	height: 3rem;
	width: 3rem;
	position: absolute;
	top: 3rem;
	right: 3rem;
	text-align: center;
	cursor: pointer;
	background: url('../images/close-cross.svg');
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-transition: var(--transition-standard);
	transition: var(--transition-standard);
}
.other-profile__close-btn:hover {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

/* ALLGEMEINES ZEUG */
.view-profile {
	font-weight: bold;
	color: var(--color-dark-black);
	cursor: pointer;
	position: relative;
	background: var(--color-bright-red);
	border-radius: var(--card-border-radius);
	padding: 0 1rem 0 1rem;
	-webkit-box-shadow: var(--card-shadow);
	box-shadow: var(--card-shadow);
}
.view-profile-search::after {
	left: 4.5rem;
	bottom: 0;
}
.view-profile:hover {
	color: var(--color-bright-grey);
}
.view-profile::after {
	content: 'Profil ansehen';
	font-size: 12px;
	font-weight: 400;
	height: 1.8rem;
	padding: 4px;
	position: absolute;
	display: none;
	color: var(--color-bright-grey);
	background: var(--color-bright-white);
	border: 1px solid var(--joker-background);
	border-radius: 10px;
	white-space: nowrap;
}
.view-profile:hover:after {
	display: inline-block;
}
/* .async-feedback__text {
	color: var(--color-dark-black);
	margin-left: 2rem; 
	margin-top: 1rem;
	margin-bottom: 1rem;
} */

#user-messages::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px var(--color-dark-black);
	background-color: var(--color-bright-white);
}

#user-messages::-webkit-scrollbar {
	width: 12px;
	background-color: var(--color-bright-grey);
}

#user-messages::-webkit-scrollbar-thumb {
	background-color: var(--color-dark-red);
}
#user-friends::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px var(--color-dark-black);
	background-color: var(--color-bright-white);
}

#user-friends::-webkit-scrollbar {
	width: 12px;
	background-color: var(--color-bright-grey);
}

#user-friends::-webkit-scrollbar-thumb {
	background-color: var(--color-dark-red);
}
#special-purpose {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
