.body,
html{
    width:100%;
    margin:0;
    padding: 0;
}
.container{
    width:100%;
    height: 100vh;
}
.post-date{
    font-size: .7rem;
    color: blanchedalmond;
}
.footer{
    position: absolute;
    margin-bottom: 0;
    text-align: right;
    width: 100%;
}
.posts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  auto;
}
.form-group{
    position: relative;
}
.btn{
    margin-left: 1rem;
}
.btn-wrapper{
    display: flex;
    flex-direction: row;
}
/* .btn-primary{
    left:0;
    bottom:10px;
    position: relative;
} */
.form-select{
    margin: 1rem;
}
.view-wrapper{
    display: flex;
    flex-direction: row;
}
.imager{
    max-width: 100%;
    margin: 2rem;
    border: 5px solid rgb(55, 79, 107);
}
.left-img{
    width: 40%;
    display: inline-block;
}
.right-body{
    display: inline-block;
    
    padding:4rem;
}
.list-group{
    list-style: none;
}
.list-group-item{
    margin-bottom: 3px;
    max-width: 30rem; 
}
.view-card{
    width: 100%;
}
.comment{
    max-width: 30rem;
}
.comments{
    text-align: right;
}
h3{
    margin-bottom: 2rem;
}
.register{
    width: 100%;
    text-align: center;
}
.register form{

    max-width: 30rem;
    text-align: left;
}
.pagination-links{
    margin:30px;
}
a.pagination-link{
    padding: 8px 13px;
    margin: 5px;
    background: #f4f4f4;
    border: 1px solid #cccccc;
}
.pagination-links strong{
    padding: 8px 13px;
    margin: 5px;
    background: #f4f4f4;
    border: 1px solid #cccccc;
}
.cat-delete{
    display: inline;
    margin-left: 2rem;
}